.delete-client-modal {
  @include flex-h-center;

  &__container {
    flex-flow: column wrap;
    align-items: center;
  }

  &__title {
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
  }

  &__descr {
    margin-bottom: 25px;
    width: 275px;
    font-size: 14px;
    line-height: 19px;
    color: var(--color-mine-shaft);
    text-align: center;
  }

  &__remove-btn {
    margin: 0 auto;
    margin-bottom: 5px;
  }

  &__cancel-btn {
    display: block;
    margin: 0 auto;
    width: initial;
  }
}
